
body,  h2, button {
  margin: 0;
  padding: 0;
  background-color: #1c1c1c;
}


.game-header, .game-content, .game-footer {
  text-align: center;
}

.game-banner {
  background-color: #1c1c1c;
  color: #a3ffb1;
  padding: 30px;
  position: relative;
}

.banner-image {
  width: 100%;
  height: auto;
  opacity: 0.5;
  
}

h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 96px;
  margin: 0;
  padding: 0;
}

.game-list {
  background-color: #1c1c1c;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  flex-wrap: wrap;
  grid-gap: 2rem;
  padding: 20px;
}

.game {
  background-color: #8c8888;
  border-radius: 10px;
  justify-content: left;
  overflow: hidden;
}

.game-cover {
  width: 100%;
  background-color: #111;
  height: auto;
}

.game-description {
  background-color: #8c8888;
  padding: 14px;
}

h2 {
  color: #000;
  background-color: #8c8888;
  font-size: 1.25rem;
}

.play-button {
  background: linear-gradient(180deg, #05ff00, #69ce67);
  color: #fff;
  font-weight: 800;
  padding: 12px 60px;
  margin-top: 16px;
  border: none;
  cursor: pointer;
}

.game-footer {
  background-color: #cbcbcb;
  color: #4f4f4f;
  padding: 9px;
  margin-top: 20px;
}

.credit{
  text-align: center;
  color: #fff;
  font-family: Inter, sans-serif;
  font-size: 18px;
  font-weight: 100;
}